* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a::after {
    color: #000;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo img {
    width: 2.1875rem;
    height: 2.5rem;
    flex-shrink: 0;
}

#logo-text {
    margin-left: 0.88rem;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
}

#be {
    color: #F25822;
}

.menu {
    margin-top: 3.19rem;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
}

#home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
}

.logo {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.top-content {
    margin-top: 5.25rem;
    margin-bottom: 16.19rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.56rem;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-content h1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-content img {
    width: 34.05088rem;
    height: 23.42769rem;
    flex-shrink: 0;
}

#description {
    margin-top: 1.06rem;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-buttons {
    margin-top: 2.31rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4.5rem;
}

#start-button {
    width: 8.75rem;
    height: 3.125rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

#video-button {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.footer img {
    width: 10rem;
    height: 3.125rem;
    flex-shrink: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 6rem;
    z-index: 1;
}

.dropdown-content a {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}