* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a::after {
    color: #000;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo img {
    width: 2.1875rem;
    height: 2.5rem;
    flex-shrink: 0;
}

#logo-text {
    margin-left: 0.88rem;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
}

#be {
    color: #F25822;
}

.menu {
    margin-top: 3.19rem;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
}

#home {
    color: #F25822;
    font-family: Gilroy-SemiBold;
}

.logo {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.top-content {
    margin-top: 5.25rem;
    margin-bottom: 16.19rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.56rem;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-content h1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-content img {
    width: 34.05088rem;
    height: 23.42769rem;
    flex-shrink: 0;
}

#description {
    margin-top: 1.06rem;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-buttons {
    margin-top: 2.31rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4.5rem;
}

#start-button {
    width: 8.75rem;
    height: 3.125rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

#video-button {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
}

.partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.partners img {
    width: 10rem;
    height: 3.125rem;
    flex-shrink: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 6rem;
    z-index: 1;
}

.dropdown-content a {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.service-icon {
    width: 4.375rem;
    height: 4.375rem;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5.62rem;
}

.service {
    width: 19.375rem;
    margin-top: 8.75rem;
}

.service-header {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.56rem;
}

.service-paragraph {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 1.06rem;
}

.service-read-more {
    margin-top: 1.56rem;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.perks-outer {
    background: #FAFAFA;
}

.perks-top-header {
    margin-top: 13.56rem;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.perks-top-paragraph {
    width: 42.625rem;
    margin-top: 1.19rem;
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: auto;
    margin-right: auto;
}

.perks-inner {
    margin-top: 3.38rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.56rem;
}

.perk {
    text-align: center;
}

.perk-header {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.perk-paragraph {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 1.38rem;
}

.perk-learn-more {
    margin-top: 2.44rem;
    width: 9.375rem;
    height: 3.125rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

#perk-middle {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}